styles/1-tools/bootstrap
styles/1-tools/animatecss
styles/1-tools/fontawesome

js/bootstrap.min.js
js/jquery.min.js
js/smoothscroll.js
js/lightbox.min.js

*.sass
*.jade

includes
styles/1-tools
styles/2-base
styles/3-pages
/.idea