doctype
html(lang='en')
   head
      title Opium Restaurant
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='Opium Restaurant Addis by Chef Mekbib. We source the freshest ingredients for our menu and all of our sauces are handmade each day.')
      meta(name='keywords', content='Opium Restaurant,Philly CheeseSteak,Tacos,Tacos in Addis,Philly CheeseSteak in Addis,Buffalo Chicken Sandwich Addis,American food Addis,Pesto Chicken Sandwich Addis,Opium Addis Restaurant,Quesadilla Addis, Quesadilla opium restaurant addis,opium Chicken Wings,Chicken Wings Addis')

      //- ----- link website ----- //
      link(rel='icon' href='./favicon.ico' type='image/x-icon')

      //- ----- CSS Files ----- //
      link(rel='stylesheet', href='./styles/style.css')
   body
      include ./includes/_0navbar.jade
      include ./includes/_1carousel.jade
      include ./includes/_7google-map.jade
      //- include ./includes/_2about.jade
      //- include ./includes/_3recomend-title.jade
      //- include ./includes/_4recomendations.jade
      include ./includes/_5menu.jade
      //- include ./includes/_6our-chef.jade
      include ./includes/_8footer.jade


      //- script(type='text/javascript' src='js/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')

      //- script(type='text/javascript' src='js/bootstrap.min.js')
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
      
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js')
      //- script(type='text/javascript', src='js/smoothscroll.js')
      //- script(type='text/javascript', src='js/lightbox.min.js')
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js')
      script(type='text/javascript', src='js/main-dist.js')
      script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-98263213-1', 'auto');
            ga('send', 'pageview');
      
