doctype
html(lang='en')
   head
      title Gallery - Opium Restaurant
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')

      meta(name='description', content="Reserve your table now on Opium Addis Restaurant's website")
      meta(name='keywords', content='Opium Addis Reservation')

      //- ----- link website ----- //
      link(rel='icon' href='../favicon.ico' type='image/x-icon')

      //- ----- CSS Files ----- //
      link(rel='stylesheet', href='../styles/style.css')
   body
      include ../includes/_pages-navbar.jade
      include ../includes/_gallery.jade
      include ../includes/_8footer.jade


      script(type='text/javascript', src='../js/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')

      script(type='text/javascript', src='../js/bootstrap.min.js')
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.4/jquery.flexslider.min.js')
      script(type='text/javascript', src='../js/masonry.pkgd.min.js')
      script(type='text/javascript', src='../js/smoothscroll.js')
      script(type='text/javascript', src='../js/lightbox.min.js')
      script(type='text/javascript', src='../js/gallery.js')
