.navbar
   margin-bottom: 0
   border-bottom: 0
   background: transparent
   text-align: center
   vertical-align: middle
   border: 0
   margin-top: 0
   position: absolute
   top: 0
   border-radius: 0
   border: 0
   left: 0
   font-size: 18px
   font-weight: 400
   color: white
   right: 0
   z-index: 10
   transition: all .3s ease-in-out
   .navbar-brand
      width: 150px
      height: auto
      transition-duration: .5s

   .navbar-nav
      margin-top: 35px
      img
            max-width: 40px
            margin-bottom: -30px
            border-radius: 50%
            &:hover
                background-color: $color-primary
   .navbar-toggle
      margin-top: 30px
      border-radius: 0
      &:hover, &:active, &:focus
            background-color: rgba(0,0,0,.5)
            border-color: #999
      .icon-bar
            background-color: white

.navbar.navbar-fixed-top.navbar-default
   background-color: white
   box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1)
   position: fixed
   .navbar-collapse
      background-color: white
      border: 0
   .navbar-nav
      margin-top: 15px
   .navbar-nav
       a.social-link img
        max-width: 40px
        margin-bottom: -30px
        background-color: $color-brown
        border-radius: 50%
        &:hover
            background-color: $color-primary
   .navbar-nav>li>a
      color: #999
      transition-duration: .5s
      &:hover,
      &:focus
         color: $color-primary
   .navbar-brand
      width: 100px
      margin-bottom: -20px
      background-color: #fff
      border-radius: 50%
      box-shadow: 0 10px 15px -10px
   .navbar-toggle
      margin-top: 30px
      border-radius: 0
      &:hover, &:active, &:focus
            background-color: rgba(0,0,0,.1)
            border-color: #999
      .icon-bar
            background-color: black

.navbar-default .navbar-nav
    li
        margin: 0 8px
        a
            color: white
            font-weight: 600
            font-size: 20px
            &:hover,
            &:focus
                color: $color-primary
        &:nth-child(5)
            margin-left: 60px
            margin-right: 0
        &:nth-child(6)
            margin: 0
      

// When the screen width is less than 768px...
@media(max-width: 768px)
   .navbar
      background-color: transparentize(black, .8)
      .navbar-collapse
         background-color: transparentize(black, .5)
         border: 0
         margin-top: 0
         box-shadow: 0 10px 20px rgba(0,0,0,.5)
         
      .navbar-brand
         width: 80px

// When the screen width is less than 1200px
@media(max-width: 1200px)
   .navbar
      width: 100%
      padding: 0
      .container
         width: 100%

@media (max-width: 1090px) 
    .navbar-header 
        float: none
    
    .navbar-left,.navbar-right 
        float: none !important
    
    .navbar-toggle 
        display: block
    
    .navbar-collapse 
        border-top: 1px solid transparent
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)
    
    .navbar-fixed-top 
        top: 0
        border-width: 0 0 1px
    
    .navbar-collapse.collapse 
        display: none!important
    
    .navbar-nav 
        float: none!important
        margin-top: 7.5px
        li:nth-child(5),
        li:nth-child(6)
            margin-left: 0 !important
            display: inline-block
        a.social-link 
            display: inline-block
            margin-left: 0
            img
                max-width: 40px
                margin-bottom: -30px
                background-color: $color-brown
                border-radius: 50%
            &:hover
                background-color: $color-primary
    
    .navbar-nav>li 
        float: none
    
    .navbar-nav>li>a 
        padding-top: 10px
        padding-bottom: 10px
    
    .collapse.in
        display:block !important

    .navbar.navbar-fixed-top.navbar-default

    

      