.about-section
   margin: 80px auto
   opacity: 0
   background-color: white
   .col-md-6
      img
         min-width: 100%
         height: auto

.about-img
   padding: 0 40px

.about-slogan
   text-transform: uppercase

.about-txt
   font-size: 18px
.chef-quote
   font-size: 20px
   font-style: italic

@media(max-width: 992px)
   .about-img
      padding: 0
