.recomend-section
   height: 50vh
   padding: 10em 0 10em 0
   background-color: darkgrey
   background-image: url(../images/DJI_0133_small.jpg)
   background-repeat: no-repeat
   background-size: cover
   background-position: center
   background-attachment: fixed
   h1
      color: white
      font-weight: bold
   p
      color: white

#recomendations-section
   opacity: 0

@media(max-width: 680px)
   .recomend-section
      background-attachment: unset
      padding-top: 5em
      h1
         font-size: 2em