.menu-title
   background: #0c1d2d
//    margin-bottom: 100px

.menu-title-note
   font-size: 23px
   a
      color: $color-primary !important
      text-decoration: underline
      font-weight: bold !important

#menu-section
   margin: 30px auto
   .menu
      margin: 60px auto
      .title
            color: #555555
      .price
            color: $color-primary
      img
            max-width: 50px
            display: inline-block
      .options
         font-weight: 600
         font-size: 16px
@media(max-width: 768px)
   .menu_dots
