#contact-section
   padding: 0
   background-color: #002033

.footer
   padding: 30px 0px
   color: white
   // overflow: hidden
   .col-md-4
      padding: 30px

   .about

   .adderss
      background-color: red

   .social-link
      padding: 10px
      .fa
         padding: 8px
         color: #fff
         background-color: #001000
         &:hover
            color: $color-primary

.open-hours
   .phone-num
      color: #fff
      font-size: 18px
      font-weight: bold

.container-fluid.copyright
   padding: 15px
   color: #999
   background-color: #001000

a.extLink
   color: $color-primary

.hiddenLink
   color: #fff
   &:hover,
   &:link,
   &:active,
   &:focus,
      text-decoration: none
      color: #fff
