nav.navbar.navbar-default.navbar-static-top#homepage-navbar
   .container
      .navbar-header
         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a(href='/')
            img.navbar-brand.logo-white.img-responsive(src="./images/logo_new.png" alt="Opium Addis Logo")
            img.navbar-brand.logo(src="./images/logo_new.png", alt="Opium Addis Logo").hidden
      #navbar.navbar-collapse.collapse
         ul.nav.navbar-nav.navbar-right
            li: a(href='/') Home
            li: a(href='#about-section')#about About
            //- li: a(href="#recomendations")#recomendations Chef's Recommendations
            li: a(href="#menu-section")#menu Menu
            //- li: a(href='#chef-section')#chef Our Chef
            li: a(href='#contact-section')#contact Contact Us
            //li: a(href='./pages/gallery.html') Gallery
            li
               a.social-link(target="_blank" href="https://www.facebook.com/Opiumaddis/")
                  img(src="./images/facebook.png", alt="fb" title="Facebook").img.img-responsive
            li
               a.social-link(target="_blank" href="https://www.instagram.com/opiumaddis/")
                  img(src="./images/instagram.png", alt="ig" title="Instagram").img.img-responsive
