.container.about-section.text-center#about-section
   h1.text-center &horbar; About &horbar;
   br
   br
   br
   .col-md-6
      img.about-img.img-responsive(src="./images/DJI_0314_small.jpg", alt="alt")

   .col-md-6.text-left
      h2.about-slogan we specialize in classic american dishes 

      p.about-txt Opium Restaurant Addis is located in the Chechnya neighborhood (near Bole). The food we serve is American Tex-Mex. At Opium, we pay close attention to detail in order to create flavorful dishes. We go to the market daily to source the freshest ingredients for our menu. Our sauces are handmade daily, which adds complexity to our dishes.
         br
         | Currently, the menu consists of American classics such as the “Philly Cheese Steak” and other favorites such as handmade tacos. 

      hr
      p.chef-quote “ I see a lot of different restaurants serving the same menu in Ethiopia. Opium hopes to change that by bringing more diversity and fusion into Ethiopia’s food scene. ” 
      i - Chef Mekbib (Owner and General Manager).
