#about-section.container-fluid.about-section.text-center
    .row
        .container
            h1.text-center About
            hr
            br
            .col-md-8.col-md-offset-2.text-center
                p.about-txt A local staple, Opium Restaurant prides itself on using the freshest natural ingredients from the farm to table. Established in 2017 by Chef Mekbib Kassa, Opium restaurant specializes in American Tex-Mex dishes. Located in Bole on the Ground ﬂoor of Rakan Building, Opium is known for having the best burritos in Addis Ababa. The menu assortment also offers delicious toasted sandwiches and thick juicy burgers. Craving a Tex-Mex breakfast? Try the Chef’s recommended Huevos Rancheros or grab a breakfast burrito on the go!
    .row
        .container
            h1.text-center Chef
            hr
            br
            .col-md-8.col-md-offset-2.text-center
                p.about-txt Chef Mekbib Kassa moved to Addis Ababa from Las Vegas, Nevada and is currently the Head Chef at Opium Restaurant Addis. With seven years of cooking experience, Chef Mekbib spent the majority of his time in Las Vegas cooking for a wide range of different establishments including Fine Dining, Premium Steakhouses, Banquets and Catering. Along with overseeing the operations, Chef Mekbib plans to develop Opium’s menu with more fusion items and start Tex-Mex catering in 2019. 
    
    include ./_3location.jade