mixin dish-desc(name, price, options, badge)
   .dish-desc
      h4
         span.dish-name #{name}
      span.dish-price #{price}ETB
      .other-details 
         p.dish-options #{options} 
         span.dish-badge #{badge}

.container.recomendations
   ul.dishes
      li.dish.col-md-4
         a(href="./images/DJI_0191_reversed_big.jpg" data-lightbox="dishes" data-title="Pesto Chicken Sandwich - 170 (Recommended)")
            .dish-img
                  img.img-responsive(src="./images/DJI_0191_thumb.jpg", alt="image")
            +dish-desc("Pesto Chicken Sandwich", 170, "Grilled chicken breast with house pesto made with fresh basil, fresh tomatoes, and provolone cheese on a fresh baked bun.", "Recommended")
      li.dish.col-md-4
         a(href="./images/DJI_0220_big.jpg" data-lightbox="dishes" data-title="Taco - 168 (Recommended)")
            .dish-img
                  img.img-responsive(src="./images/DJI_0220_thumb.jpg", alt="image")
            +dish-desc("Chicken Tacos", 168, "Shredded chicken with black beans, fresh salsa, and guacamole on a handmade flour tortilla.", "Recommended")
      li.dish.col-md-4
         a(href="./images/DJI_0293_big.jpg" data-lightbox="dishes" data-title="Opium Philly Cheesesteak - 180 (Recommended)")
            .dish-img
                  img.img-responsive(src="./images/DJI_0293_thumb.jpg", alt="image")
            +dish-desc("Opium Philly Cheesesteak", 180, "Our take on an American classic, the Opium Philly Cheese Steak comes with select cuts of seared beef, grilled onions, peppers, and melted cheese on a fresh baked roll.", "Recommended")
