mixin menu-item(title, nickname, price, option1, option2, option3, description)
   .menu
      h1.title #{title}
      h3.nick #{nickname}
      .row
            .col-md-4
                  h2.price #{price} ETB
            .col-md-4
                  if(option1)
                        img.img.img-responsive(src="./images/chicken.png", alt="chicken")
                  if(option2)
                        img.img.img-responsive(src="./images/pork.png", alt="pork")
                  if(option3)
                        img.img.img-responsive(src="./images/beef.png", alt="beef")
      p.desc #{description}
   
.container.text-center
   h1 Menu

.container.menu-section#menu-section
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 1, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")
   .col-md-6
      +menu-item("Burrito", "The Best in Town", 130, 1, 0, 1, "Our traditional burrito comes with black beans, shredded cheese, cilantro lime rice, pico de gallo & guacamole all wrapped in a warm ﬂour tortilla.")

include ../includes/_6beverages.jade

.row.text-center
      h3 *Please note: All pricing is not including VAT. 
