mixin menu-item(title, price, options)
   .menu
      h3.menu-item
         span.menu_title #{title}
         span.menu_dots
         span.menu_price #{price}ETB
      .options #{options}
   
.container-fluid.menu-title.text-center
   h1 Menu

.container.menu-section#menu-section
   .col-md-6
      +menu-item("Fresh Salsa & Tortilla Chips", 105, "Served with tortilla chips, guacamole and salsa. Our salsa is house made with fire roasted tomatoes, onions and peppers.")
      +menu-item("Chicken Wings", 161, "Pan seared with your choice of home made spicy buffalo sauce or sweet BBQ sauce. Service with home made ranch.")
      +menu-item("Quesadilla", 168, "Our Quesadillas are prepared with your choice of shredded chicken or pineapple Bay leaf braised pulled pork as well as house made salsa, black beans and melted cheese in a handmade whole wheat flour tortilla.")
      +menu-item("Buffalo Chicken Sandwich", 170, "Prepared with house made buffalo sauce, fresh shredded cabbage, house made ranch dressing on a fresh baked bun.")
      +menu-item("Cold Beverages", 20, "(Sprite, Coke, Fanta)")
   .col-md-6
      +menu-item("Tacos (Chicken, Pork, Cheese)", 168, "Our Tacos are prepared with your choice of shredded chicken or pineapple Bay leaf braised pulled pork as well as house made salsa, black beans and melted cheese.")
      +menu-item("Opium Philly Cheesesteak (Beef, Chicken)", 180, "Our take on an American classic. The Opium Philly Cheese Steak comes with the finest cuts of seared beef, grilled onions and peppers, melted cheese on fresh a fresh baked roll.")
      +menu-item("Pesto Chicken Sandwich", 170, "Grilled chicken breast with house made pesto made with fresh basil, with fresh tomatoes, provolone cheese on a fresh baked bun.")
      +menu-item("Water", 15, "Still & sparkling")
      +menu-item("Hot Drinks", 15, "(House Special Tea infused with thyme served hot, Addis Tea)")      
