.container-fluid.chef-section.text-center#chef-section
   .container.parallax-bg
      h1 Our Chef
      .col-md-6.col-md-offset-3
         .chef-card
            .card-img
               a(href="./images/DJI_0390_big.jpg" data-lightbox="chef" data-title="Chef Mekbib Kassa")
                  img.img-responsive(src="./images/DJI_0391_small.jpg", alt="alt")
            //- .social
            //-    .social-follow Follow
            //-    ul.social-links
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-facebook(aria-hidden="true" title="Facebook")
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-twitter(aria-hidden="true" title="Twitter")
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-instagram(aria-hidden="true" title="Instagram")
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-google-plus(aria-hidden="true" title="Google+")
            .card-desc
               .bio
                  h3 Chef Mekbib
                  p Chef Mekbib Kassa moved to Addis Ababa from Nevada, U.S. and is currently the General Manager and Head Chef at Opium Restaurant Addis. With five years of cooking experience, Chef Mekbib spent the majority of his time in Las Vegas cooking for a wide range of different establishments. 
         
