.container-fluid.chef-section.text-center#chef-section
   .container.parallax-bg
      h1 About
      .col-md-6.col-md-offset-3
         .chef-card
            .card-img
               a(href="./images/DJI_0191_reversed_big.jpg" data-lightbox="chef" data-title="Chef Mekbib Kassa")
                  img.img-responsive(src="./images/DJI_0191_reversed_big.jpg", alt="alt")
            //- .social
            //-    .social-follow Follow
            //-    ul.social-links
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-facebook(aria-hidden="true" title="Facebook")
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-twitter(aria-hidden="true" title="Twitter")
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-instagram(aria-hidden="true" title="Instagram")
            //-       li
            //-          a(href="#")
            //-             i.fa.fa-google-plus(aria-hidden="true" title="Google+")
            .card-desc
               .bio
                  h3 Pesto Chicken Sandwich
                  p Grilled chicken breast with house pesto made with fresh basil, fresh tomatoes, and provolone cheese on a fresh baked bun.
         
