footer
   .container-fluid#contact-section
      .container.text-center.footer
         .col-md-4.about
            h3 Opium Restaurant Addis
            p By Chef Mekbib Kassa. 
               br 
               |You can eat in or order takeaway on 
               a.extLink(href="https://deliveraddis.com/restaurants/opium/" target='_blank') Deliver Addis
            br
            //- a.btn.obtn-fill(href="/pages/reservation.html") Book a Table
            
         .col-md-4.open-hours
            h3 Hours
            p 
               i.fa.fa-clock-o(aria-hidden="true") &nbsp;&nbsp; 
               |Monday – Saturday 12:00PM - 9:00PM
            i.fa.fa-phone(aria-hidden="true") &nbsp;&nbsp;
            a.extLink(href="tel:+251966699884").phone-num
               |Call +251 96 669 9884
         .col-md-4.address
            h3 Where to find us
            p 
               i.fa.fa-map-marker(aria-hidden="true") &nbsp;&nbsp;
               |Bole - Atlas - Chechnya, on the road to Shala park. Addis Ababa, Ethiopia. 
               br 
               | Click&nbsp;
               a.extLink(target="_blank" href="https://www.google.com/maps/place/Opium+Addis+Restaurant/@9.004589,38.782017,18z/data=!4m5!3m4!1s0x0:0xb8ba8815f0f2ead!8m2!3d9.0045893!4d38.7820172?hl=en-US") Here&nbsp;
               | for directions!
            br
            p FIND US ON
            p  
               a.social-link(target="_blank" href="https://www.facebook.com/Opiumaddis/")
                  i.fa.fa-facebook(aria-hidden="true")
               a.social-link(target="_blank" href="https://www.instagram.com/opiumaddis/")
                  i.fa.fa-instagram(aria-hidden="true")
         
      .container-fluid.text-center.copyright
         .col-md-6
            span Copyright &copy; 2017 Opium Restaurant Addis, All Rights Reserved.
         .col-md-6
            .powered-by
               a(href="http://www.gebeya.com" target="_blank")
                  p Powered by
                     img(src="./images/gebeya-brand1.png", alt="Gebeya")
