footer
   .container-fluid#contact-section
      .container.text-center.footer
            .row

                  .col-md-6
                        .row
                              .col-md-12.about
                                    img(src="./images/logo_transparent.png", alt="")
                                    h3 Atlas, Rakan Bldg Ground floor
                  .col-md-6.delivery
                        img(src="./images/deliver_addis.png", alt="Deliver Addis" width="80px")
                        h3 You can eat-in or order takeaway 
                              br
                              | on 
                              a(href="https://deliveraddis.com/restaurants/opium" target="_blank") Deliver Addis
            .row
                  .col-md-12
                        p.powered-by Powered by 
                              a(target="_blank" href="http://gebeya.media" title="Gebeya Media")
                                    img.img.img-responsive.gmedia-logo(src="./images/gmedia_logo.png", alt="G")