footer
   .container-fluid#contact-section
      .container.text-center.footer
         .col-md-4.about
            img(src="./images/logo_new.png", alt="")
            h3 Atlas, Rakan Bldg Ground floor
         .col-md-4.col-md-offset-4.text-right.address
            h3 opiumaddis.com
            br
            p  
               a.social-link(target="_blank" href="https://www.facebook.com/Opiumaddis/")
                  i.fa.fa-facebook(aria-hidden="true")
               a.social-link(target="_blank" href="https://www.instagram.com/opiumaddis/")
                  i.fa.fa-instagram(aria-hidden="true")
            h4 @piumaddis