footer
   .container-fluid#contact-section
      .container.text-center.footer
            .row

                  .col-md-6
                        .row
                              .col-md-12.about
                                    img(src="./images/logo_transparent.png", alt="")
                                    h3
                                          i.fa.fa-map-marker
                                          a(href="https://www.google.com/maps/place/Opium+Addis+Restaurant/@9.001162,38.779561,18z/data=!4m5!3m4!1s0x0:0xb8ba8815f0f2ead!8m2!3d9.0045893!4d38.7820172?hl=en-US" target="_blank" title="Click to view map") Atlas, Rakan Bldg Ground floor
                                    h3
                                          i.fa.fa-phone
                                          a(href="tel:+251983341261" title="Click to call") +251983341261
                  .col-md-6.delivery
                        img(src="./images/deliver_addis.png", alt="Deliver Addis" width="80px")
                        h3 You can eat-in or order takeaway
                              br
                              | on
                              a(href="https://deliveraddis.com/restaurants/opium" target="_blank") Deliver Addis
      .row.powered-by-section
            .col-md-12.text-center
                  a(target="_blank" href="http://gebeyamedia.com" title="Gebeya Media")
                        p.powered-by Powered by
                              img.img.img-responsive.gmedia-logo(src="./images/gmedia_logo.png", alt="G")
                  p.copyright &copy; 2019 Opium Restaurant, All Rights Reserved.