#gallery
    .container
        h1.text-center Masonary Image Gallery here        
        #masonary-gallery
            .grid
                img(src="../images/Cheese Burger.jpeg", alt="").grid-item.grid-item--width2
                img(src="../images/IMG_2946.jpeg", alt="").grid-item
                img(src="../images/IMG_1689.jpeg", alt="").grid-item.grid-item--width2
                img(src="../images/new_philly_cheese.jpeg", alt="").grid-item
                img(src="../images/Pesto Chicken.jpeg", alt="").grid-item.grid-item--width2
                img(src="../images/Philly Cheese.jpeg", alt="").grid-item.grid-item--width2
                img(src="../images/IMG_1578.jpeg", alt="").grid-item.grid-item--width2
                img(src="../images/new_philly_cheese2.jpeg", alt="").grid-item
                img(src="../images/DJI_0218_big.jpg", alt="").grid-item
                img(src="../images/DJI_0022_small.jpg", alt="").grid-item
                img(src="../images/DJI_0133_small.jpg", alt="").grid-item