nav.navbar.navbar-default.navbar-static-top
   .container
      .navbar-header
         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a(href='/')
            img.navbar-brand.logo(src="../images/Logo_white.png", alt="Opium Addis Logo")
      #navbar.navbar-collapse.collapse
         ul.nav.navbar-nav.navbar-right
            li: a(href='/') Home
            li.active: a(href='/pages/services.html') Services
