.container-fluid.services-title.text-center
   h1 SERVICES
   p Full List And Pricing Coming Soon

.container#reservation-content
   h3.text-center 1. Pre-marinated meats
   hr
   .container-fluid
      .col-md-4.text-center
         h1 Beef
         h4 350 Birr
      .col-md-4.text-center
         h1 Chicken
         h4 350 Birr
      .col-md-4.text-center
         h1 Pork
         h4 550 Birr
   br
   br
   h3.text-center 2. Private events
   p.text-center Prices are calculated based on quantity of items including VAT, labor and service fee.
   hr
   .container-fluid
      .col-md-6.text-center
         i.fa.fa-birthday-cake.fa-4x(aria-hidden="true") &nbsp;
         h1 Birthday parties
         //- p Package includes:
         h3
            i.fa.fa-check(aria-hidden="true") &nbsp; 
            |Menu item samplers, water and cake.
         h3
            i.fa.fa-check(aria-hidden="true") &nbsp; 
            |Restaurant hosting
         h3
            i.fa.fa-check(aria-hidden="true") &nbsp; 
            |In house hosting
            p 22% service charge
         h3
            i.fa.fa-check(aria-hidden="true") &nbsp; 
            |Client's location
            p Please contact us directly.
         br
         hr
      .col-md-6.text-center
         i.fa.fa-glass.fa-4x(aria-hidden="true") &nbsp;
         h2 Corporate gatherings
         p Please contact us directly.
   br   
